* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
}

/* Global style */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

a:hover,
a:focus {
    color: #2196F3;
}

a {
    text-decoration: none;
    transition: 300ms;
}

li {
    list-style: none;
}

/* Header */

.header {
    align-items: center;
    border-bottom: 1px solid silver;
}

.header-nav {
    display: flex;
    align-items: center;
    padding-bottom: 35px;
    padding-top: 35px;
}

.header-nav__list {
    display: flex;
    padding-left: 93px;
}

.header-nav__item {
    padding-right: 50px;
}

.header-nav__link {
    color: #000;

    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-nav__studio {
    color: #2196F3;
}

.header-nav__link:hover,
.header-nav__link:focus {
    color: #2196F3;
}

.header-nav__item:last-child {
    margin-right: 0;
}

.header-contacts {
    display: flex;
    margin-left: auto;

    color: #757575;
    line-height: 16px;
    align-items: center;
}

.header-contacts__item:first-child {
    margin-right: 50px;
}

.header-contacts__link {
    color: #757575;

    font-weight: 500;
    font-size: 14px;
    line-height: 16%;
    letter-spacing: 0.03em;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Order service */

.services {
    background-color: #2F303A;
    padding: 200px;
    text-align: center;  
}

.services__title {
    font-weight: 900;
    line-height: 60px;
    justify-content: center;
    padding-bottom: 15px;

    letter-spacing: 0.06em;
    line-height: 60px;
    font-size: 40px;
    justify-content: center;
    color: #fff;
}

.services__button {
    width: 235px;
    height: 58px;
    justify-content: center;
    text-align: center;

    color: #fff;
    background-color: #2196F3;
    border-color: #2196F3;
    border-radius: 7px;
    
    font-family: Roboto;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* Team qualities */

.skill {
    margin-top: 68px;
}

.skill-list {
    display: flex;
    justify-content: space-between;
}

.skill-list__item {
    width: 250px;
    margin-right: 60px;
    font-size: 14px
}

.skill-list__item:last-child {
    margin-right: 0;
}

.skill-list__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    padding-bottom: 20px;
    margin: 0;
}

.skill-list__subtitle {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(117, 117, 117, 1);
}

/* Our work */

.work {
    margin-top: 114px;
}

.work__title {
    text-align: center;    
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.03em;
    padding-bottom: 56px;
}

.work-list {
    display: flex;
    justify-content: space-between;
}

.work-list__item {
    margin-right: 30px;
}

.work-list__item:last-child {
    margin-right: 0px;
}

.work-list__image:last-child {
    margin-right: 0;
}

/* Our team */

.team {
    background: #F5F4FA;
    padding: 20px 20px;
    margin-top: 80px;
}

.team-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 94px;
}

.team-list__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-right: 30px;
    background-color: #fff;
}

.team-list__item:last-child {
    margin-right: 0;
}

.team__title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    margin-top: 70px;
    padding-bottom: 56px;
}

.team-list__name,
.team-list__position {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
}

.team-list__name {
    padding-top: 33px;
    padding-bottom: 18px;
}

.team-list__position {
    color:#757575;
    padding-bottom: 34px;
}

/* Footer */

.footer {
    padding: 60px 60px;
    background-color: #2F303A;
}

.address {
    font-family: Roboto;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #fff;
}

.footer__address {
    color: #fff;
    padding-bottom: 10px;
    padding-top: 20px;
}

.footer__link {
    display: inline-block;
    padding-bottom: 10px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

